streamlit
pydub
faster-whisper
deep-translator
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
transformers
torch
nltk
pandas
matplotlib
seaborn
numpy
indic-nlp-library
