streamlit
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pydub
transformers
torch
pandas
deep-translator
faster-whisper
matplotlib
seaborn
plotly
PyPDF2
indic-nlp-library
cssutils
tenacity
numpy
