streamlit
faster-whisper
googletrans==4.0.0rc1
transformers
torch==2.0.1  # Safer version than latest (works better on most platforms)
nltk
langdetect
python-dotenv
pydub
ffmpeg-python
emoji
requests
deep_translator
